header {
    height: 35%;
    text-align: center;
    font-size: 56px: padding: 25px 0;
    margin: 5px;
    color: white;
    background-image: url("../images/questionmarks.jpg");
    background-repeat: repeat;
    opacity: 10%
}

h1 {
    font-size: 56px;
    text-align: center
}

body {
    background-color: rgb(169, 211, 211);
}

button {
    border-radius: 5%;
    padding: 2px 0;
    margin: 4px 0;
    width: 100px;
    height: 45px;
}

.timing {
    display: flex;
    justify-content: center;
    padding: 25px;
    margin: 5px;
    background-color: rgb(96, 150, 194);
}

.score {
    justify-content: center;
    padding: 25px;
    margin: 5px;
    background-color: rgb(226, 226, 164);
}

#timer2 #time-left {
    width: 200px;
    height: 15%;
}

form {
    text-align: center;
    padding: 25px;
    margin: 5px;
    background-color: rgb(201, 162, 201);
}

.submit {
    padding: 2px 0;
    margin: 4px 0;
    width: 100px;
    height: 20px
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}